@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Victor Mono', monospace;
  outline: none;
}

:root {
  --red: #bf616a;
  --red-2: #ff3366;
  --blue: #5e81ac;
  --versigrid: #88c0d0;
  --Nyanza: #b48ead;
  --white: #eceff4;
  --white-bg: #d8dee9;
  --black: #2e3440;
  --white-50: #eceff480;
  --shadow: 5px 5px var(--black);
}

body {
  background-color: var(--white-bg);
}

.container {
  width: 900px;
  margin: auto;
}

nav {
  background-color: #88c0d0b4;
  backdrop-filter: blur(8px);
  color: var(--black);
  border: 1px solid var(--black);
  box-shadow: var(--shadow);
  margin: -130px auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  padding: 20px;
  align-items: center;
  width: 900px;
  position: fixed;
  z-index: 2;
}

nav .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

nav .list-menu {
  cursor: pointer;
  padding: 10px 0;
  transition: 0.1s ease-in-out;
}

nav .list-menu:hover {
  scale: 1.1;
}

nav .btn-menu {
  display: none;
}

.balance {
  margin-top: 160px;
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  align-items: baseline;
  margin-bottom: 30px;
  gap: 30px;
  position: relative;
  overflow: hidden;
  height: 330px;
  color: var(--black);
}

.balance .bulanan .btn {
  cursor: pointer;
}

.balance .uang {
  margin-top: 30px;
  font-size: 3rem;
}

.balance .uang::before {
  content: 'Rp. ';
  display: flex;
  font-size: 20px;
}

.balance .btn-add {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 20vmin;
  cursor: pointer;
  display: grid;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.balance .btn-add:hover {
  background-color: var(--red);
}

.balance .bulanan,
.balance .pengeluaran {
  margin-top: 10px;
  padding: 30px;
}

.balance .bulanan .uang::after {
  font-family: 'Font Awesome 5 Free', 'Victor Mono', monospace;
  content: '\f044  Add';
  font-size: 17px;
  padding: 10px;
  display: flex;
  text-align: center;
  font-weight: bold;
}

.balance .pengeluaran .uang {
  color: var(--red-2);
}

.balance p {
  margin-top: 10px;
}

.balance .form-input-uang {
  display: grid;
  background-color: var(--white);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  place-content: center;
  gap: 10px;
  transform: translateX(-105%);
  transition: 0.3s ease-in-out;
}

.balance .show-window {
  background-color: var(--white-50);
  transform: translateX(0);
}

.form-input-uang .close {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  align-items: center;
  font-size: 30px;
  background-color: var(--red);
  border: 1px solid var(--black);
  color: var(--white);
  cursor: pointer;
}

.balance .form-input-uang label {
  font-weight: bold;
  font-size: 3vmax !important;
  border: none !important;
}

.balance .form-input-uang label,
.balance .form-input-uang input[type='text'],
.balance .form-input-uang button {
  font-size: 2vmax;
  padding: 10px 10px;
  border: 1px solid var(--black);
}

.balance .form-input-uang button {
  background-color: var(--blue);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: 0.2s ease-in-out;
}

.balance .form-input-uang button:hover {
  box-shadow: 8px 8px var(--black);
}

.balance .input-data-pengeluaran {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  right: 0;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.295);
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(120%);
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(8px);
}

.balance .tampil-form {
  background-color: var(--white-50);
  transform: translateX(0);
}

.balance .input-data-pengeluaran .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  display: grid;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--black);
  cursor: pointer;
}

.balance .input-data-pengeluaran .form-list {
  margin-top: 5px;
  display: grid;
  width: 80%;
  gap: 5px;
  font-size: 17px;
  text-align: left;
}

.balance .input-data-pengeluaran .form-list label {
  font-weight: bold;
}

.balance .input-data-pengeluaran .form-list input[type='text'],
.balance .input-data-pengeluaran .form-list select,
.balance .input-data-pengeluaran .form-list textarea,
.balance .input-data-pengeluaran .form-list button {
  font-size: 17px;
  padding: 5px;
  border: 1px solid var(--black);
}

.balance .input-data-pengeluaran .form-list input[type='text']:focus,
.balance .input-data-pengeluaran .form-list select:focus,
.balance .input-data-pengeluaran .form-list textarea:focus {
  border: 1px solid var(--blue);
}

.balance .input-data-pengeluaran .form-list button {
  width: 100px;
  margin: auto;
  box-shadow: var(--shadow);
  background-color: var(--red);
  cursor: pointer;
  font-weight: bold;
  color: var(--white);
}

.search {
  color: var(--black);
  position: relative;
  margin-bottom: 30px;
}

.search-field {
  background-color: var(--white);
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid var(--black);
  box-shadow: var(--shadow);
}

.search i {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--black);
  color: var(--white);
  position: absolute;
  right: 0px;
  padding: 9px;
  background-color: var(--red);
}

.list {
  border: 1px solid var(--black);
  border-bottom: none !important;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
}

.tgl {
  position: relative;
  z-index: 1;
  font-weight: bold;
  margin: auto;
  margin-bottom: -10px;
  border-width: 1px 1px 1px 1px;
  width: fit-content;
  border-style: solid;
  border-color: var(--black);
  padding: 10px;
  font-size: 25px;
  background-color: var(--versigrid);
  color: var(--black);
  box-shadow: var(--shadow);
}

.list .table-header {
  font-weight: bold;
  text-align: center;
  background-color: var(--versigrid) !important;
  color: var(--black);
  align-items: center !important;
  font-size: 1.1rem;
}

.list .table-header,
.list .table-value {
  height: 80px !important;
  background-color: var(--white);
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  border-width: 0px 0px 1px 0px;
  border-style: dashed;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
}

.list .table-value .pengeluaran {
  color: var(--red-2);
  font-weight: bold;
}

.list .table-value .pengeluaran,
.list .table-value .kategori {
  text-align: center;
  border-width: 0px 1px 0px 0px;
  border-style: dashed;
  border-color: var(--black);
}

.total-pengeluaran {
  border-width: 0px 1px 1px 1px !important;
  border-style: solid !important;
  border-color: var(--black) !important;
  background-color: var(--white);
  color: var(--red-2);
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  box-shadow: var(--shadow) !important;
  position: static;
}

.halaman {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  width: fit-content;
  margin-bottom: 20px;
  border: 1px solid var(--black);
  box-shadow: var(--shadow);
}

.halaman .list-halaman {
  width: 50px;
  padding: 5px 10px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.halaman .list-halaman:hover {
  background-color: var(--blue);
  color: var(--white);
}

.halaman .arrow {
  margin: auto;
  border: none;
  box-shadow: none;
  background-color: unset;
  height: 46px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: var(--black);
}

.halaman .halaman-aktif {
  background-color: var(--blue);
  color: var(--white);
  width: 100px;
}

@media (max-width: 576px) {
  .balance {
    grid-template-areas:
      'bulanan'
      'pengeluaran'
      'button' !important;
    text-align: center;
  }

  .balance .bulanan .uang::after {
    justify-content: center;
  }

  .bulanan .pengeluaran {
    padding-top: 100px !important;
  }

  .balance .uang::before {
    justify-content: center;
  }

  .list .table-header {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .balance {
    grid-template-areas:
      'bulanan pengeluaran'
      'button button';
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: fit-content;
  }

  .balance .uang {
    font-size: 2.3rem;
  }

  .balance .bulanan {
    grid-area: bulanan;
  }

  .balance .pengeluaran {
    grid-area: pengeluaran;
  }

  .balance .btn-add {
    font-size: 50px !important;
    padding: 20px;
    grid-area: button;
  }

  .balance .bulanan {
    margin-bottom: -80px;
  }

  nav {
    gap: 0;
    width: 90%;
  }

  .grid-areas {
    grid-template-areas:
      'heading btn-menu'
      'menus menus';
    gap: 0;
    align-items: center;
    transition: 0.3s ease-in-out !important;
  }

  nav .menu {
    display: none;
  }

  nav .menu-show {
    padding: 40px;
    margin-top: 20px;
    border-top: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    grid-area: menus;
  }

  nav .menu-show .list-menu {
    padding: 10px;
  }

  nav .btn-menu {
    display: block;
    text-align: end;
    font-size: 30px;
  }

  nav .btn-menu i {
    cursor: pointer;
  }

  .balance .btn-add {
    font-size: 5vmin;
  }

  .balance .input-data-pengeluaran {
    border: none;
    width: 100%;
    gap: 0;
    transform: translateY(120%);
    transition: 0.3s ease-in-out;
  }

  .balance .tampil-form {
    transform: translateY(0);
  }

  .container .search-field {
    width: 100%;
  }

  .list {
    font-size: 15px;
    border-top: none !important;
  }

  .tgl {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    box-shadow: 5px 0 var(--black);
    border-bottom: none;
  }

  .list .table-header,
  .list .table-value {
    height: auto !important;
  }
}
